.container{
    width: 44%;
    margin: 8% 28%;
    padding: 1em;
    background-color: lightgray;

    border: 1px solid black;
    box-shadow: 10px 10px 5px black;
}
.container p {
    margin: 1em auto;

    font-size: 1.5em;
    line-height: 1.5em;
}

h1 {
    margin-top: .25em;

    color: firebrick;
    font-size: 3em;
}


