/* Container and Items */
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.65fr 1fr;
    /* grid-template-rows: 50vh 50vh; */
    border-collapse: separate;
}

.introitem {
    grid-area: 1 / 1 / span 1 / span 4;
    padding: 3.5em;
}
.aboutmeitem {
    grid-area: 1 / 5 / span 1 / span 2;
    /* background-color: lightgray; */
    padding: 3.5em;
}
.resumeitem {
    grid-area: 2 / 1 / span 1 / span 3;
    background-color: lightgray;
    padding: 5%;
}
.projectsitem {
    grid-area: 2 / 4 / span 1 / span 3;
    background-color: lightgray;
    padding: 5%;
}

/* box formatting */
.largetextbox {
    border: 1px solid black;
    padding: 0% 1em 0% 0%;
    background-color: lightgray;
    height: 100%;
    box-shadow: 10px 10px 5px black;
}
.smalltextbox {
    border: 1px solid black;
    padding: 0% 5%;
    background-color: #faebd7d2;
    height: 100%;
    position: relative;
    box-shadow: 10px 10px 5px black;
}
.aboutmeitem .smalltextbox {
    background-color: lightgray;
}

/* Formatting of items inside boxes */

/* '*' means "all". follows format of * in smalltextbox
 class. Grabs all descendants inside smalltextbox */
.smalltextbox * {
    margin: .5em .2em .5em .2em;
}
.smalltextbox h2 {
    font-size: 4em;
    margin: .55em .1em .5em .1em;
    color: crimson;
}
.smalltextbox p {
    font-size: 1.5em;
    line-height: 1.5;
}
.smalltextbox a {
    position: absolute;
    bottom: 1em;

    text-decoration: none;
    color: black;
    font-size: 2em;
}
.smalltextbox a:hover {
    font-weight: bolder;
    /* text-shadow: 0.4px 0.4px maroon; */
}

.largetextbox h2 {
    font-size: 5em;
    margin: .3em;
    color: crimson;
}
.largetextbox p {
    font-size: 2em;
    line-height: 1.25;
    margin: 1em 1em;
}


/* Most element css */

img {
    float: left;
    height: 38em;
    max-height: 50vh;
    padding: 2em;
}
